<div id="footer" class="overlay disableSelect">
    <span id="buttonAbout" class="button">About</span><span id="buttonLegal" class="button">Legal</span><span id="buttonHelp" class="button">Help</span>
</div>