    <meta charset="utf-8">
    
    <title><%= userid %> - z0ner</title>
    
    <link rel="stylesheet" href="static/css/style1.css">
    <link rel="stylesheet" href="static/css/footer.css">
    <link rel="stylesheet" href="static/css/header.css">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="z0ner">
    <meta property="og:description" content="just a stupid video site with short loops. or gifs. or images. or whatever you want.">
    <meta property="og:url" content="https://z0ner.moe">

    <script> var id = <%= userid %></script>
    <script type="text/javascript" defer src="static/js/input.js"></script>
    <script type="text/javascript" defer src="static/js/main.js"></script>