    <meta charset="utf-8">
    <title>z0ner</title>
    <script> var id = <%= userid %></script>
    <link rel="stylesheet" href="static/css/style1.css">
    <link rel="stylesheet" href="static/css/footer.css">
    <link rel="stylesheet" href="static/css/header.css">